[user]
	email = dsvensson@gmail.com
	name = Daniel Svensson
	signingkey = 633F5931
[log]
	decorate = short
[diff]
	algorithm = patience
[pull]
	rebase = true
[alias]
	bump = "!f() { git add $1 && message=$(echo \"Bump $1\n\"; git submodule summary $1) && git commit -e -m \"${message}\" ; }; f"
[gpg]
	program = gpg2
