URxvt.foreground: #aaaaaa
URxvt.depth: 32
URxvt.background: rgba:1111/1111/1111/dddd

URxvt.color0: #000000
URxvt.color1: #9e1828
URxvt.color2: #c5f779
URxvt.color3: #968a38
URxvt.color4: #414171
URxvt.color5: #963c59
URxvt.color6: #418179
URxvt.color7: gray
URxvt.color8: gray40
URxvt.color9: #cf6171
URxvt.color10: #c5f779
URxvt.color11: #fff796
URxvt.color12: #4186be
URxvt.color13: #cf9ebe
URxvt.color14: #71bebe
URxvt.color15: #ffffff

URxvt.scrollBar: false
URxvt.saveLines: 1500
URxvt.url-select.launcher: xdg-open
URxvt.modifier: alt
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: true
URxvt.perl-ext-common: selection,url-select,searchable-scrollback
URxvt.searchable-scrollback: CM-s


URxvt.font:             xft:Inconsolata:size=12
URxvt.boldFont:         xft:Inconsolata:bold:size=12
URxvt.italicFont:       xft:Inconsolata:italic:size=12
URxvt.boldItalicFont:   xft:Inconsolata:bolditalic:size=12

Xft.antialias:  true
Xft.rgba:       subpixel
Xft.hinting:    true
Xft.hintstyle:  hintfull
