urxvt.foreground: #aaaaaa
urxvt.depth: 32
urxvt.background: rgba:1111/1111/1111/dddd

urxvt.color0: #000000
urxvt.color1: #9e1828
urxvt.color2: #c5f779
urxvt.color3: #968a38
urxvt.color4: #414171
urxvt.color5: #963c59
urxvt.color6: #418179
urxvt.color7: gray
urxvt.color8: gray40
urxvt.color9: #cf6171
urxvt.color10: #c5f779
urxvt.color11: #fff796
urxvt.color12: #4186be
urxvt.color13: #cf9ebe
urxvt.color14: #71bebe
urxvt.color15: #ffffff

urxvt.scrollBar: false
urxvt.saveLines: 1500
urxvt.url-select.launcher: xdg-open
urxvt.modifier: alt
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.underlineURLs: true
urxvt.perl-ext-common: selection,url-select,searchable-scrollback
urxvt.searchable-scrollback: CM-s


urxvt.font:             xft:Inconsolata:size=14
urxvt.boldFont:         xft:Inconsolata:bold:size=14
urxvt.italicFont:       xft:Inconsolata:italic:size=14
urxvt.boldItalicFont:   xft:Inconsolata:bolditalic:size=14

Xft.antialias:  true
Xft.rgba:       subpixel
Xft.hinting:    true
Xft.hintstyle:  hintfull
